@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-indigo-50 to-white font-[Inter] text-gray-800;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-indigo-300 rounded-full;
}
::-webkit-scrollbar-track {
  @apply bg-indigo-50;
}

